---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer>
   <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
     {% assign months = "Ιανουαρίου,Φεβρουαρίου,Μαρτίου,Απριλίου,Μαΐου,Ιουνίου,Ιουλίου,Αυγούστου,Σεπτεμβρίου,Οκτωβρίου,Νοεμβρίου,Δεκεμβρίου" | split: "," %}
     {% assign month_index = page.date | date: "%-m" | minus: 1 %}
     Δημοσιεύθηκε: 
     {{ page.date | date: "%-d" }} {{ months[month_index] }} {{ page.date | date: "%Y" }}
    </time>
    {% if page.author %} <br> Αρθρογράφος: <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
   </p>
  </footer>
</article>
